<div>
  <h1>Film Catalog</h1>
  <div>
    <app-search-form [(searchTerm)]="searchTerm" [appAutofocus]="'input'" />
    <app-select-genre [(selectedGenre)]="selectedGenre" />
    <p>{{selectedGenre()}}</p>
    <button (click)="isOnlyFavorites.set(!isOnlyFavorites())">
      {{ isOnlyFavorites() ? 'Show All' : 'Show Favorites' }}
    </button>
  </div>
  @if (filteredFilms().length) {
    @for (film of filteredFilms(); track film.id) {
      <app-film-card [film]="film" (toggleFavorite)="toggleFavorite(film.id)" />
    }
  } @else {
    <div>Nothing found</div>
  }
</div>
