<nav class="breadcrumbs">
  <ol class="breadcrumbs-list">
    @for (breadcrumb of breadcrumbs(); track $index; let last = $last) {
      <li class="breadcrumb-item">
        @if (!last) {
          <a [routerLink]="breadcrumb.path" class="breadcrumb-link">
            {{ breadcrumb.label }}
          </a>
          <span class="breadcrumb-separator">
            <span class="material-symbols-outlined">chevron_right</span>
          </span>
        } @else {
          <span class="breadcrumb-current">{{ breadcrumb.label }}</span>
        }
      </li>
    }
  </ol>
</nav>